.container  {
  display: flex;
  position: absolute;
  top: 20%;
  left: 40%;
  height: 50%;
  width: 50%;
}
.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
